.main {
  width: 100%;
  .mianHeader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-image: url('/public/img/kv-pc-220122.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    .imageWall {
      li {
        position: absolute;
      }
      &>li:nth-child(1){
        bottom: -8px;
        left: 100px;
        width: 39px;
        height: 28px;
        background: url('/public/img/草.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
      }
      &>li:nth-child(2){
        bottom: -5px;
        left: 233px;
        width: 50px;
        height: 50px;
        background: url('/public/img/松.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
      }
      &>li:nth-child(3){
        bottom: -5px;
        left: 387px;
        width: 50px;
        height: 50px;
        background: url('/public/img/樱.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
      }
      &>li:nth-child(4){
        bottom: -5px;
        left: 307px;
        width: 50px;
        height: 50px;
        background: url('/public/img/房子.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
      }
      &>li:nth-child(5){
        bottom: -8px;
        right: 229px;
        width: 37px;
        height: 107px;
        background: url('/public/img/高楼.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
      }
      &>li:nth-child(6){
        bottom: -10px;
        right: 130px;
        width: 70px;
        height: 78px;
        background: url('/public/img/楼层.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
      }
      &>li:nth-child(7){
        bottom: -5px;
        right: 55px;
        width: 50px;
        height: 105px;
        background: url('/public/img/塔.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
      }
      &>li:nth-child(8){
        bottom: 1px;
        left: 55px;
        width: 56px;
        height: 39px;
        transform: rotateY(180deg);
        background: url('/public/img/牛.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: bottom;
      }
      &>li:nth-child(9){
        bottom: -6px;
        right: 304px;
        width: 56px;
        height: 39px;
        background: url('/public/img/车.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: bottom;
      }
    }

    .search {
      position: relative;
      background: url('/public/img/frame-new.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 500px;
      height: 50px;
      display: flex;
      align-items: center;
      &::after {
        position: absolute;
        content: url('/public/svg/kv-text.svg');
        width: 500px;
        top: -80%;
      }
      input {
        width: 85%;
        height: 70%;
        padding-left: 20px;
        background: none;
        outline: none;
        border: none;
      }
      .searchBtn {
        display: block;
        width: 15%;
        height: 70%;
        background-image: url('/public/img/search-icon.png');
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }
    }
  }
    .mianContent {
      width: 80%;
      display: flex;
      margin: 0 auto;
      .mainAside {
        width: 20%;
      }
    }
}